 <!-- <ul class="list-group list-group-flush">
    <a href="#" *ngFor="let resolucion of resoluciones" class="list-group-item list-group-item-action flex-column align-items-start">
      <li class="list-group-item" #res (click)="onClickResolucion(resolucion)">{{resolucion.n.value}}</li>
    </a>
</ul> 
<app-detalle-resolucion [resolucion]="selectedResolucion"></app-detalle-resolucion>   -->
<div class="col-xs-12" style="height:20px;"></div>
<table *ngIf="resoluciones" class="table table-sm">
  <thead>
    <tr>
      <th scope="col-sm-1">Número Resolucion</th>
      <th scope="col-sm-1">Antecedentes</th>
      <th scope="col-sm-1">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resolucion of resoluciones" >
      <th scope="row"><a href="#" (click)="onClickResolucion(resolucion)">{{resolucion.num.value}}</a></th>
      <td>{{resolucion.doc.value}}</td>
      <td>{{resolucion.acc.value}}</td>
    </tr>
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr> -->
   </tbody>
</table>
<app-detalle-resolucion [resolucion]="selectedResolucion"></app-detalle-resolucion> 