<div class="col-xs-12" style="height:20px;"></div>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-4">      
      <!-- <div class="list-group">
        <a href="#" *ngFor="let repartido of repartidos" (click)="onClickRepartido(repartido)" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 #rep class="mb-1">{{repartido.p.value}}</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">{{repartido.s.value}}</p>
          <small>Resoluciones pendientes de edición.</small>
          <span class="badge badge-primary badge-pill">10</span>
        </a>
      </div> -->
      <table class="col-4" class="table">
        <thead>
          <tr>
            <th scope="col-sm-1">Número</th>
            <th scope="col-sm-3">Uri Repartido</th>           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repartido of repartidos">
            <td><a href="#" (click)="onClickRepartido(repartido)">{{repartido.p.value}}</a></td>
            <td style="max-width: 1000px; word-break: break-all">{{repartido.s.value}}</td>           
          </tr>          
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <div style="width: auto; height: 100%">
        <app-detalle-repartido [repartido]="repartido"></app-detalle-repartido> 
        <app-listado-resoluciones [resoluciones]="resoluciones"></app-listado-resoluciones>    
      </div>    
  </div>
</div>


