<div class="col-xs-12" style="height:20px;"></div>
<div style="width: auto; height: 100%"> 
  <div  *ngIf="resolucion" class="">
    <h5 class="card-subtitle">{{resolucion.uri}}</h5>
    <div class="col-xs-12" style="height:10px;"></div>
    <div class="alert alert-primary" role="alert">
        {{resolucion.texto}}
    </div>    
    <div class="col-xs-12" style="height:10px;"></div>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Tema Documento</label>
          <input type="text" class="form-control  form-control-sm" #inputDocumentoTema aria-describedby="emailHelp" placeholder="Ingrese el tema del documento">        
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputPassword1">Tipo Documento</label>
          <input type="text" class="form-control  form-control-sm" #inputDocumentoTipo placeholder="Ingrese el tipo del documento">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="exampleInputPassword1">Autor Documento</label>
            <input type="text" class="form-control  form-control-sm" #inputDocumentoAutor placeholder="Ingrese el nombre de autor del documento">
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputPassword1">Tipo Autor Documento</label>
          <input type="text" class="form-control  form-control-sm" #inputDocumentoAutorTipo placeholder="Ingrese el tipo de autor del documento">
        </div>
      </div>
      <button type="reset" (click)="onClickDocumento(inputDocumentoTema.value,inputDocumentoAutor.value,inputDocumentoTipo.value,inputDocumentoAutorTipo.value)" class="btn btn-primary">Ingresar Documento</button>
    </form>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Tema Acción</label>
          <input type="text" class="form-control  form-control-sm" #inputDocumentoTema aria-describedby="emailHelp" placeholder="Ingrese el tema del documento">        
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputPassword1">Involucrado Acción</label>
          <input type="text" class="form-control  form-control-sm" #inputDocumentoTipo placeholder="Ingrese el tipo del documento">
        </div>
      </div>      
      <button type="reset" (click)="onClickDocumento(inputDocumentoTema.value,inputDocumentoAutor.value,inputDocumentoTipo.value,inputDocumentoAutorTipo.value)" class="btn btn-primary">Ingresar Documento</button>
    </form>
  </div> 
</div>